
img {
  border: 4px double rgb(0, 0, 0);
}
body {
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%; 
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.colorvmusgo {
  color:#065535;
}
.colorvclaro{
  color: #26a867;
}
.colorazul{
  color: #2A71C6;
}
.colorngris{
  color: #0a0a0a;;
}
.backvmusgo{
  background-color:  #065535;
}
.backvwhite{
  background-color:  #ffffff;
}
.backvclaro{
  background-color:  #26a867;
}
.backazul{
  background-color:  #2A71C6;
}
.backngris{
  background-color:  #303030;
}




a.bardimao:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}/*
a.bardimao:visited {
}*/
a.bardimao:hover {
  color: #303030;
  text-decoration: none;
}
a.bardimao:active {
  color: #303030;
  text-decoration: none;
}

/*imagenes*/
img.imgdimao{
  border: 0px;
  padding: 0px;
  margin: 0px;
}

/*Bonton de imagen recilado*/
/* Container needed to position the button. Adjust the width as needed */
.contrecicly {
  position: relative;
  width: 100%;
}
/* Make the image responsive */
.contrecicly img {
  width: 100%;
  height: auto;
}
/* Style the button and place it in the middle of the container/image */
.contrecicly .btnre {
  line-height: 1.3em;
  z-index: 9999;
  width: 150px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  padding: 12px 24px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 50px;
  transition: all .5s ease;
  background-color: rgb(221, 221, 221);
  color: #26a867;
  border: 0px;
}
.contrecicly .btnre:hover {
  color: rgb(32, 32, 32);
}
/*Termino de boton*/

/*color de tarjetas*/
.tarjeta-verde{
  background-color: #26a867;
}
.btn-verde-os{
  background-color: #065535;
  
}
.btn-verde-cl{
  background-color: #199463;
}

a.btn-verdeclaro{
  color: white;
  background-color: #199463;
}
a.btn-verdeclaro:hover{
  color: white;
  background-color: #065535;
}


.tarjeta-naranja{
  background-color: rgb(255, 102, 0);
}
button.btn-naranja-os{
    background-color: rgb(206, 75, 0);
}
button.btn-naranja-os:hover{
  background-color: rgb(255, 128, 55);
}

a.btn-naranja-os{
  background-color: rgb(206, 75, 0);
}
a.btn-naranja-os:hover{
background-color: rgb(255, 128, 55);
}

a.btn-gris-os{
  color: white;
  background-color: rgb(77, 77, 77);
}
a.btn-gris-os:hover{
color:#26a867;
}


.tarjeta-rojo{
  background-color: rgb(202, 0, 0);
}
.btn-rojo-os{
  background-color: rgb(128, 0, 0);
}



.all-browsers {
  margin: 0;
  padding: 5px;
  background-color: rgba(20, 153, 8, 0.89);
}

.all-browsers > h1, .browser {
  margin: 10px;
  padding: 5px;
}

.browser {
  background: rgba(255, 255, 255, 0.787);
}

.browser > h2, p {
  margin: 4px;
  font-size: 90%;
}

#estiloDiv {
  width: 210px;
}
