<div class="conteiner-p-4">
    <br>
    <div class="row">
        <div class="col-md-10 mx-auto">
            <a type="button" href="/Descagar/reciclaje" class="btn btn-dark">Generar archivo</a>
            <a class="btn btn btn-outline-secondary bg-dark" onclick="downanddown()">Exportar a excel</a>
            <a href="/excels/reciclaje.csv" id="descargar" style="display: none;"
                download="reciclaje.csv"></a>
            <a href="/eliminarArchivo/reciclaje" id="eliminame" style="display: none;"></a>
            <table class="table table-light table-striped ">
                <thead>
                    <tr>
                        <th scope="col">Rol de la vivienda</th>
                        <th scope="col">Fecha de reciclaje</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each reciclaje}}
                    <tr>
                        <td>{{this.rol}}</td>
                        <td>{{this.fecha_reciclaje}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    function downanddown() {
        document.getElementById('descargar').click();
        document.getElementById('eliminame').click();
    }
</script>