<div class="conteiner p-4">
    <br>
    <div class="row text-center">
        <h2>Exportar datos de la base de datos</h2>
    </div>
    <div class="row" align="center">
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body tarjeta-verde text-white">
                    <h5 class="card-title" align="center"><b>Exportar tabla vivienda</b></h5>
                    <h5 class="card-text ">Descripción</h5>
                    <h6>
                        Esta tabla contiene los siguientes datos:
                    </h6>
                    <ul>
                        <li>nombre</li>
                        <li>otro dato</li>
                        <li>otro dato</li>
                        <li>otro dato</li>
                    </ul>
                    <br>
                    <div align="center">
                        <a href="#" class="btn btn-success btn-verde-cl">Descargar</a>
                        <br>
                    </div>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body tarjeta-verde text-white">
                    <h5 class="card-title" align="center"><b>Exportar tabla usuario</b></h5>
                    <h5 class="card-text ">Descripción</h5>
                    <h6>
                        Esta tabla contiene los siguientes datos:
                    </h6>
                    <ul>
                        <li>nombre</li>
                        <li>otro dato</li>
                        <li>otro dato</li>
                        <li>otro dato</li>
                    </ul>
                    <br>
                    <div align="center">
                        <a href="#" class="btn btn-success btn-verde-cl">Descargar</a>
                        <br>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col">
            <div class="card" style="width: 18rem;">
                <div class="card-body tarjeta-verde text-white">
                    <h5 class="card-title" align="center"><b>Exportar tabla vivienda</b></h5>
                    <h5 class="card-text ">Descripción</h5>
                    <h6>
                        Esta tabla contiene los siguientes datos:
                    </h6>
                    <ul>
                        <li>nombre</li>
                        <li>otro dato</li>
                        <li>otro dato</li>
                        <li>otro dato</li>
                    </ul>
                    <br>
                    <div align="center">
                        <a href="#" class="btn btn-success btn-verde-cl">Descargar</a>
                        <br>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>