<div class="conteiner">
    <br>
    <div class="row text-center">
        <h2>Exportar datos de la base de datos</h2>
    </div>
    <div class="row ">
        <div class="col">
            <div class="row">
                <button class="btn btn-dark">Descargar Datos de usuarios inscritos</button>
            </div>
            <div class="row text-center"> Este contiene lo siguiente: </div>
        </div>
        <div class="col"></div>
        <div class="col"></div>
        
    </div>
</div>