<br>
<!-- Copy this code to have a working example -->
<footer class="bg-dark text-white text-center text-lg-start">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row">
      <!--Grid column-->
      <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Sobre nosotros</h5>

        <p>
          Somos la sociedad que más contribuye al reciclaje!
        </p>
      </div>


      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Redes sociales</h5>

        <ul class="list-unstyled mb-0">
          <li>
            <a class="btn btn-outline-light btn-floating m-1" href="https://twitter.com/dimaoimsa"
              role="button">Twitter<i class="fab fa-twitter"></i></a>
          </li>
          <li>
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/imsanantoniocl/"
              role="button">Instagram <i class="fab fa-instagram"></i></a>
          </li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-0">Contato</h5>

        <ul class="list-unstyled">
          <li>
            Teléfono: 35 2337324
          </li>
          <li>
            Correo: informaciones@sanantonio.cl
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2021 Copyright:
    <a class="text-white" href="https://www.sanantonio.cl/">Dirección de Medioambiente, Aseo y Ornato - Ilustre
      Municipalidad de San Antonio</a>
  </div>
</footer>