<div>
    <div class="backvwhite">
        <div class="row">
           <div class="col-md-1" style="margin: 0px 0px 0px 10px;">               
                <img class="imgdimao" src="/img/logotipo.png" width="120" height="120">
           </div>
           <div class="col-md-10" style="margin: 0px 0px 0px 20px;">
               <br>
               <div class="row">
                    <h1 class="colorvclaro" style=";size: 100px;"><b>PROGRAMA DE RECICLAJE SELECTIVO</b></h1>
               </div>
               
               <div class="row">
                    <h5 style="color: rgb(0, 0, 0);">Ilustre Municipalidad de San Antonio</h5>
               </div>
           </div> 
        </div>
    </div>

    <header class="p-2 bg-success text-white">
        <div>
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
                    style="font-size: 16px;">
                    <li><a href="/" class="nav-link px-2 bardimao"><i class="fas fa-home"></i> Inicio</a></li>
                    <li><a href="/reciclaje" class="nav-link px-2 bardimao"> <i class="fas fa-recycle"></i> Reciclaje</a></li>
                </ul>

                {{#if user}}
                <div class="text-end">
                    <div class="dropdown dropstart">
                        <a class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-expanded="false">
                           <i class="fas fa-user-circle"></i>
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="estiloDiv">
                            {{#ifequals user.tipo_usuario "vivienda"}}
                            <a class="dropdown-item" href="/profile">Mi perfil</a>
                            {{/ifequals}}
                            {{#ifequals user.tipo_usuario "admin"}}
                            <a class="dropdown-item" href="/usersInscritos">Usuarios inscritos</a>
                            <a class="dropdown-item" href="/usersEspera">Postulantes</a>
                            <a class="dropdown-item" href="/usersModificar">Solicitudes de modificaci贸n</a>
                            <a class="dropdown-item" href="/usersAlertas/1">Avisos de reciclaje</a>
                            <a class="dropdown-item" href="/codigo">C贸digo</a>
                            {{/ifequals}}
                            <a class="dropdown-item" href="/logout">Cerrar sesi贸n <i class="fas fa-sign-out-alt"></i></a>
                        </div>
                    </div>
                </div>
                {{else}}
                <div class="text-end">
                    <a type="button" href="/login" class="btn btn-outline-light me-2">Iniciar sesion</a>
                    <a type="button" href="/signup" class="btn btn-outline-light backazul">Postulaci贸n</a>
                </div>
                {{/if}}
            </div>
        </div>
    </header>
</div>