<div class="container">
    <br>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 rounded text-center" style="background-color: dimgray;">
            <h2>Motivo de desinscripción del programa de reciclaje</h2>
            <form action="/desinscribirme" method="post">
                <div class="mb-3">
                    <label for="des" class="form-label">Ingrese el motivo de la desinscripción</label>
                    <textarea class="form-control" id="des" name="motivo" rows="4"></textarea>
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary mb-3">Enviar y desinscribirme</button>
                </div>
            </form>
        </div>
        <div class="col-2"></div>
    </div>

</div>