<div class="container" style="padding: 0%;">
    <div class="row"> 
        <div class="col-md-5">
            <br>
            <article class=" all-browsers">
                <h1>Quienes Somos</h1>
                <article class="browser">
                    <h2>DIMAO</h2>
                    <p>Dirección de Medioambiente, Aseo y Ornato, Ilustre Municipalidad de San Antonio</p>
                </article>
                <article class="browser">
                    <h2>Incentivemos el reciclaje</h2>
                    <p> Mediante el programa de recolección selectiva, podras optar a beneficios</p>
                    <p> el cual bajara tu impuesto de limpieza, ademas de ayudar a la comuna </p>
                    <p> de San Antonio a convertirse en una comuna que apoya al medioambiente </p>
                </article>
        </div>
        <div class="col-md-7"></div>
    </div>
    
</div>