<div style="padding: 0%;">
    <br>
    <div class="col">
        <div class="row contrecicly text-center">
            <img src="img/06.jpg" class="img-fluid imgdimao" alt="reciclemos">
            <button class="btnre">Reciclaje</button>
        </div>

        <div class="row text-center">
            <div class="col-md-6" style="display: flex;justify-content: center;align-items: center;">
            <div style="flex: 0 0 400px;">
                <h2 class="colorvclaro">¿Qué es el reciclaje?</h2>
                <p>El reciclaje es el proceso mediante el cual los desechos se convierten en nuevos productos o en recursos materiales con el que fabricar otros producto</p>
            </div>
            </div>
            <div class="col-md-6">
                <img class="imgdimao" style="max-width: 100%;max-height: 100%;" src="https://www.zmescience.com/mrf4u/statics/i/ps/cdn.zmescience.com/wp-content/uploads/2020/07/recycling.jpg?width=1200&enable=upscale" alt="botes">
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6">
                <img style="max-width: 100%;max-height: 100%;"  class="imgdimao" src="https://www.medicalplasticsnews.com/downloads/6097/download/Recycling%20plastics.jpg?cb=fa5ac6abda3d37ff6b9001207e5f91d3" alt="">
            </div>
            <div class="col-md-6" style="display: flex;justify-content: center;align-items: center;">
                <div style="flex: 0 0 500px;">
                    <h2 class="colorvclaro">Como Reciclar</h2>
                    <p align="left">Al momento de realizar tus comprar escoge el producto con menor envase o envases que puedas
                        reciclar. Separa la basura orgánica de los envases.
                        Separa los envases dependiendo de su material: plásticos, vidrio, aluminio o metal. Coloca cada envase
                        en el contenedor que corresponda y listo, ya estas reciclando de manera adecuada.</p>
                </div>
            </div>
        </div>
        <br>
    </div>

</div>
<br>
<div class="container text-center w3-round-large bg-white">
    <h1 class="colorvclaro">Reciclaje del ultimo mes</h1>
    
    <div class="graph-container w3-round-large" style="background-color:#ffffff;">
        <div id="myfirstchart" style="height: 250px;"></div>
    </div>
    <h1>Total: {{info.[1].[0].Total}} </h1>
</div>

</div>


<script>
    new Morris.Bar({
        barSizeRatio: 0.30,
        // ID of the element in which to draw the chart.
        element: 'myfirstchart',
        // Chart data records -- each entry in this array corresponds to a point on
        // the chart.
        data: [
            {{#each info.[0]}}
                { Fecha: '{{this.X}}', value: {{ this.Y }} },
            {{/each}}
        ],
        // The name of the data record attribute that contains x-values.
        xkey: 'Fecha',
        // A list of names of data record attributes that contain y-values.
        ykeys: ['value'],
        hideHover: true, resize: true,
        //parseTime: false,
        // Labels for the ykeys -- will be displayed when you hover over the
        // chart.
        labels: ['Viviendas']
        });
</script>