<div class="container" style="padding: 0%;">
    <br>
    <article class="all-browsers2 w3-round-large bg-dark">
        <div class="container w3-round-large bg-white">
            <h1>Reciclaje</h1>
        </div>

        <article class="browser w3-round-large">
            <h2>¿Qué es el reciclaje?</h2>
            <p align="left">El reciclaje es el proceso mediante el cual los desechos se convierten en nuevos productos 
                o en recursos materiales con el que fabricar otros producto</p>
        </article>
        <article class="browser w3-round-large">
            <h2>Como Reciclar</h2>
            <p align="left">Al momento de realizar tus comprar escoge el producto con menor envase o envases que puedas reciclar. Separa la basura orgánica de los envases.
                 Separa los envases dependiendo de su material: plásticos, vidrio, aluminio o metal. Coloca cada envase en el contenedor que corresponda y listo, ya estas reciclando de manera adecuada.</p>
        </article>
        <br>
    </article>

</div>

<div class="container text-center">
    <br>
    <img src = "https://www.up.edu.pe/UP_Landing/Lannding_Inactivos/concurso-reciclaje_/img/fondo-reciclaje.png" class="w3-cyan img-fluid rounded">
</div>

